/*used for holding global values*/

:root {
    /*https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51*/
    --primary_bg_color: #ffff;
    --secondary_bg_color: #264653;
    --primary_color: #e9c46a;
    --secondary_color: #f2f2f2;
}

/*removes any default size manipulation from the page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, Sans-serif;
}


/* NAVBAR https://www.w3schools.com/css/css_navbar.asp */
ul {
    /*sizing and alignment*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*colors*/
    background-color: #333;
}

li {
    /*sizing and alignment*/
    float: left;
}

li a {
    /*sizing and alignment*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    /*colors*/
    background-color: #111;
}

/* MAIN */
main {
    /*sizing and alignment*/
    min-height: 100vh;
    margin: 0.5rem;
    flex: 1;
}

/* FOOTER */
footer {
    /*colors*/
    background-color: var(--secondary_bg_color);
    color: var(--secondary_color);
    /*sizing and alignment*/
    text-align: center;
    padding: 0.5rem;
}


/* The Modal (background) https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 100%;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* FORMS */
form {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    justify-self: center;
    box-shadow: black 0.5%;
}

/* INPUTS */
input {
    width: 100%;
    margin: 0.5rem;
}

#search-bar {
    /*sizing and alignment*/
    padding: 1rem;
    width: 75%;
    margin: auto;
    text-align: center;
}

/* TABLES */
table {
    /*sizing and alignment*/
    border-collapse: collapse;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 0.5rem;
}

table th {
    /*sizing and alignment*/
    padding: 0.5rem;
}

table td {
    /*sizing and alignment*/
    height: 2rem;
}

table tr:nth-child(odd) {
    /*colors*/
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    /*colors*/
    background-color: #ddd;
}

table tr:hover {
    /*colors*/
    background-color: var(--primary_color);
}


/* TABLET: bigger resolution than iphone 6/7/8 mobile layout 414x736px */

@media screen and (min-width: 415px) {
    body {
        background-color: gray;
    }

    table {
        /*sizing and alignment*/
        font-size: 1.2rem;
    }

    button {
        /*sizing and alignment*/
        padding: 0.2rem 1rem 0.2rem;
        margin: 0.2rem;
        text-align: center;
        cursor: pointer;
    }
}

/* COMPUTER SCREEN: bigger resolution than ipad tablet layout 768x1024px (horizontal) */

@media screen and (min-width: 1024px) {
    body {
        background-color: black;
    }

    table {
        /*sizing and alignment*/
        font-size: 1.5rem;
    }

    button {
        /*sizing and alignment*/
        padding: 0.2rem 1rem 0.2rem;
        margin: 0.2rem;
        text-align: center;
        cursor: pointer;
    }
}