@import '../global.css';

#searchbar {
    /*sizing and alignment*/
    padding: 1rem;
    width: 75%;
    margin: auto;
    display: block;
    text-align: center;
}

#show_more_info {
    /*sizing and alignment*/
    padding: 0.2rem 1rem 0.2rem;
    margin: 0.2rem;
    text-align: center;
    cursor: pointer;
}

/* TABLE */
#table_search_result {
    /*sizing and alignment*/
    border-collapse: collapse;
    width: 100%;
}

#table_search_result th {
    /*colors*/

    /*sizing and alignment*/
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
}

#table_search_result td {
    /*sizing and alignment*/
    text-align: center;
    height: 5rem;
}

#table_search_result table td {
    /*sizing and alignment*/
    text-align: center;
    height: 5rem;
}

#table_search_result tr:nth-child(odd) {
    /*colors*/
    background-color: #f2f2f2;
}

#table_search_result tr:nth-child(even) {
    /*colors*/
    background-color: #ddd;
}

#table_search_result tr:hover {
    /*colors*/
    background-color: var(--primary_color);
}